@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model  App202310_16.ModelsView.RegistrazioneAccountVw

@{
    ViewData["Title"] = "Registrazione";
}

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <div class=" form-floating">
                <input asp-for="Email" class="form-control" autocomplete="username"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="Text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="new-password"/>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="Text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="ConfermaPassword" class="form-control"/>
                <label asp-for="ConfermaPassword"></label>
                <span asp-validation-for="ConfermaPassword" class="Text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Conferma</button>
        </form>
    </div>

</div>