@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pagina non trovata";
}

<h1>ERRORE 404 - Pagina Non Trovata</h1>
<p>La pagina che stavi cercando non è stata trovata</p>